<div class="container mt-4 manage-tasks bottom">
  <h1 class="text-center display-8 fw-bold my-4 text-dark">Manage Tasks</h1>
    <div class="row mb-3">
    <div class="col-md-10 mb-2">
      <input type="text" class="form-control" [(ngModel)]="newTaskName" placeholder="New Task Name" aria-label="New Task Name" />
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary w-100" (click)="createTask()">Create Task</button>
    </div>
  </div>

  <div class="container mt-4 align-items-center">
    <div class="col" *ngFor="let stage of [0, 1, 2, 3]; let i = index">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0">{{ stage === 0 ? 'Backlog' : stage === 1 ? 'ToDo' : stage === 2 ? 'Ongoing' : 'Done' }}</h5>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li *ngFor="let task of getTasksByStage(i)" class="list-group-item">
              <div class="row">
                <div class="col-12 col-md-6"> 
                  {{ task.name }}
                </div>
                <div class="col-md-6 d-flex justify-content-end mt-2">
                  <button class="btn btn-secondary btn-sm me-1" (click)="updateTaskStage(task, 'back')" [disabled]="task.stage === 0">Back</button>
                  <button class="btn btn-secondary btn-sm me-1" (click)="updateTaskStage(task, 'forward')" [disabled]="task.stage === 3">Forward</button>
                  <button class="btn btn-warning btn-sm me-1" (click)="editTask(task._id,task.name,task.stage)">Edit</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteTask(task._id)">Delete</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
